// .conteiner {
//   width: 1200px;
//   padding-left: 15px;
//   padding-right: 15px;
//   margin: 0 auto;
// }

@media screen and (max-width: 767px) {
  .conteiner {
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }

  .mob-menu-container {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .conteiner {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .conteiner {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
}
