:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --hover-focus-link-color: #2196f3;
  --filters-button-color: #212121;
  --filters-button-bcg-color: #f5f4fa;
  --filters-button-color-hover: #ffffff;
  --filters-button-bcg-color-focus: #2196f3;
  --input-border-color-focus: #2196f3;
}
